
/*this is the file which contains css for the music player design */

audio {
    width: 131%;
    position: absolute;
    top: 50%;
    /* left: 30%; */
    background-color: black;
    opacity: 1;
    color: chocolate;
    transform: scale(0.7);
    box-shadow: 0px 2px 20px 9px mediumvioletred;
    /* transform-style: preserve-3d; */
    padding: 6px;
    border-radius: 20%;
    left: -18%;
    top: 0%;
}

#pall {
    position: fixed;
    /* border: 2px solid black; */
    width: 0%;
    height: 0%;
    bottom: 0vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    left: 0%;
    z-index: 6;
    background-color: black;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    max-height: 77px;

    
}

#pall:target{
    height: 12%;
    width: 100%;
    position: fixed;

}
/*#pall:target #playbutton{
    opacity: 0;
}
#pall:target #pause{
    opacity: 1;
}
*/
.imagecard a{
    /*position: absolute;*/
    display: inline-block;
    height: 100%;
    width: 100%;
}



.songinfo {
    /* border: 2px solid black; */
    height: 100%;
    width: 25%;
    position: relative;
    /* position: absolute; */
    background-color: black;
}

.playing_card {
    position: absolute;
    height: 100%;
    width: 35%;
    background-image: url("favourite.jpg");
    background-size: 100% 100%;
    /* border: 2px solid black; */
    left: 0%;
    top: 0%;
    max-width: 81px;
}

.name_artist {
    height: 100%;
    position: absolute;
    width: 29%;
    left: 36%;
    /* border: 2px solid black; */
}

.name_artist h3, h4 {
    color: white;
    /*font-size: small;*/
    margin: 0px;
    margin-top: 4px;
}

.options {
    height: fit-content;
    /* border: 2px solid black; */
    width: fit-content;
    position: absolute;
    left: 75%;
    top: 30%;
}

.options i{
    font-size: large;
    color: white;
}



.main_pallete {
    /* border: 2px solid black; */
    width: 70%;
    height: 100%;
    position: relative;
    /* position: absolute; */
    background-color: black;
}

.extra_controls {
    height: fit-content;
    width: fit-content;
    /* border: 2px solid black; */
    background-color: black;
    position: absolute;
    left: 93%;
    top: 30%;
}

.extra_controls a{
    display: inline-block;
}

.extra_controls i{
    color: white;
    font-size: large;
}


/*<a href="#pall" style="
    display: block;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* width: 75%; */
    /* top: 35%; */
    /* left: 10%; */
    /* border: 2px solid white; */
/*"><i id="play" class="fas fa-play" aria-hidden="true"></i></a>*/


@media screen and (max-width: 420px){

#pall:target {
    height: 12vh;
    width: 100vw;
    position: fixed;
}
.playing_card{
    width: 55%;
}
.name_artist {
    height: 100%;
    position: absolute;
    width: 40%;
    left: 68%;
    /* border: 2px solid black; */
}
.main_pallete {
    /* border: 2px solid black; */
    width: 50% !important;
    left: 11%;
    height: 100%;
    max-width: 500px;
    position: relative;
    /* position: absolute; */
    background-color: black;
}
.extra_controls{
    left: 88% !important;
}
.fa-list-ul:before {
    content: "\f0ca";
    display: none;
}
.fa-laptop:before {
    content: "\f109";
    display: none;
}
.fa-ban:before {
    content: "\f05e";
    /* left: 3%; */
    display: none;
}
}